@charset "utf-8";



#content{ padding-top:0;}
.inner{ width:1200px; margin:0 auto;}
.inner h3{margin-top:70px; padding-bottom:30px; border-bottom:2px solid #ffba00; text-align:center; font-size:37px; font-weight:100; color:#372317;}
.inner h3 span{display:block; width:140px; height:36px; background:url(../images/login/h_login.png); margin:10px auto 0;}

.inner .sec_form{margin-top:55px;}
.inner .sec_form p.welcomTxt{ text-align:center; font-size:18px; color:#372317;  }
.inner .sec_form fieldset{position:relative; width:365px; height:120px; margin:48px auto 0;}
.inner .sec_form dl{position:relative; margin-bottom:10px;}
.inner .sec_form dl dt{position:absolute; top:15px; left:10px; color:#948a86;}
.inner .sec_form input{ width:238px; height:43px; border:1px solid #d1cccb; padding-left:10px;}
.inner .sec_form fieldset button{position:absolute; right:0; top:0; width:103px; height:100px; border:0 none; background-color:#2c1810; color:#fff;}
.inner .sec_form ul{ overflow:hidden; width:365px; margin:0 auto; margin-bottom:54px;}
.inner .sec_form ul li{float:left; margin-right:18px; letter-spacing:-0.05em}
.inner .sec_form ul li.join{float:right; margin-right:0;}
.inner .sec_form ul li a{ font-weight:bold;}
.inner .sec_form ul li.join a{ background:url(../images/login/bu_arrow_2.png) no-repeat 100% 50%; color:#ff9c00;}
.inner .sec_form ul li a{ font-size:12px; padding-right:10px; background:url(../images/login/bu_arrow_1.png) no-repeat 100% 50%; color:#75675c;}

.inner .online_membership{width:1200px; height:340px; margin:0 auto; border-top:2px solid #ffba00; border-bottom:1px solid #e8e6e5; background-color:#fcfcfc;}
.inner .online_membership p{ margin-top:65px; margin-bottom:58px; font-size:21px; color:#372317;  text-align:center;}
.inner .online_membership ul{overflow:hidden; width:490px; margin:0 auto;}
.inner .online_membership ul li{float:left; width:121px; height:128px; padding:0 20px; border-left:1px solid #e6e4e3; text-align:center; font-weight:bold; color:#74665e; letter-spacing:-0.15em}
.inner .online_membership ul li:first-child{border-left:0;}
.inner .online_membership ul li.member1 span{ width: 34px; height:57px; background:url(../images/login/icon_login_1.png);}
.inner .online_membership ul li.member2 span{ width:38px; height:58px; background:url(../images/login/icon_login_2.png);}
.inner .online_membership ul li.member3 span{ width:32px; height:57px; background:url(../images/login/icon_login_3.png);}
.inner .online_membership ul li span{display:block; margin:0 auto 37px;}


.inner .survice{ width:1200px; height:154px; margin:64px auto 160px; border-bottom:2px solid #ffba00}
.inner .survice li dt{ font-size:17px; padding-bottom:24px;}
.inner .survice li dd{float:left;  font-size:11px; color:#a8a7a7; line-height:17px;}
.inner .survice li dd span{display:inline-block; width:60px; color:#74665e;}
.inner .survice li .survice_box1{float:left; width:464px; margin-left:200px;}

.inner .survice li .survice_box2{float:left; width:234px; margin-left:75px;}









