@charset "utf-8";



.sec_notice .total{margin:29px 0 9px; float:left;}
.sec_notice .total span{color:#e57c00; font-weight:bold;}

.sec_notice .array{margin:29px 0 9px; float:right; font-size:12px; line-height:12px; font-weight:bold;}
.sec_notice .array span{border-right:1px solid #d4d4d4; padding-right:13px; color:#017eba;}
.sec_notice .array a{ padding-left:12px; padding-right:10px; background:url(../images/notice/bul_arrow_off.gif) no-repeat 100% 60%;}
.sec_notice .array a.on{background:url(../images/notice/bul_arrow_on.gif) no-repeat 100% 60%; color:#252525;}


.sec_notice table{clear:both; width:100%; border-top:2px solid #12a3cc; border-bottom:1px solid #d1d1d1;  border-collapse:collapse; color:#717171;}
.sec_notice table th{height:45px; font-size:13px; border-bottom:1px solid #b2b2b2;}



.sec_notice table td{height:63px; border-top:1px solid #e2e2e2; text-align:center;}
.sec_notice table .Txtchange{ width:203px; padding-left:10px; text-align:left }

.sec_notice .btn{width: 100%; text-align:center; margin:40px 0 66px 0;  }
.sec_notice .btn a{padding: 0 10px; }
.sec_notice .btn a:hover{color:#017eba; text-decoration:underline;}
.sec_notice .btn a.on{color:#017eba;}
.sec_notice .btn .next{display:inline-block;  width:5px; height:9px; text-indent:-5000px; background:url(../images/notice/btn_wNext01.gif) no-repeat; vertical-align:middle;}
.sec_notice .btn .last{display:inline-block;  width:8px; height:9px; text-indent:-5000px; background:url(../images/notice/btn_wNext02.gif) no-repeat; vertical-align:middle;}


.sec_notice fieldset{position:relative;  margin-bottom: 109px; text-align:center;}
.sec_notice fieldset .search_list{width:191px; height:27px; border:1px solid #b2b2b2;}
.sec_notice fieldset .search{ width:208px; height:25px; border:1px solid #b2b2b2;}


.sec_notice button{position:absolute; top:23%; left:72%;  width:15px; height:15px; background:url(../images/event/btn_search02.gif); text-indent:-5000px;}
